video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
}

.Main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top; /* Center align vertically */
  align-items: center; /* Center align horizontally */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  /* object-fit: contain; */
  text-align: center; /* Ensure text is centered */
  overflow-y: auto
}


.main-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main-container > h1 {
  color: white;
  font-size: 5rem;
  margin-bottom: 20px;
}

.main-container > p {
  color: white;
  font-size: 100px;
  margin-bottom: -100px;
}

/* Forcing HTML and Body to Allow Scrolling */
html, body {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}